body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}
.text-container {

}
.title-container {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-left: 200px;
  margin-right: 200px;
}
.title-container > h1 {
  color: red;
  font-family: 'Architects Daughter', sans-serif;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.title-container > hr {
  width: 500px;
  margin-top: 0px;
}
.title-container > p {
  margin-top: 0px;
}
.instruction-container {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
.instruction-container > h3 {
  margin-bottom: 0px;
  color: red;
}
.instruction-container > p {
  margin-top: 0px;
}
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-container > div {
  margin-left: 15px;
  margin-right: 15px;
  border-style: outset;
  width: 200px;
  height: 200px;
}
.list-container {
  /*display: flex;*/
  justify-content: center;
}

.list > li {
  font-family: 'Oswald', sans-serif;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
  visibility: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
}
.try-more-container > button {
  width: 100px;
  height: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: red;
}
.two-buttons > button {
  width: 100px;
  height: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: red;
}
.reset-container > button {
  width: 100px;
  height: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: red;
}
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 400px;
}
.display-data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
